.acardionstf{
    background-color: #edf3fb;
    color: #000;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    }
    .acardionstf .acardion .labels {
      width: 100%;
      padding: 10px;
      border: 2px solid #6db5ff;
      cursor: pointer;
      border-radius: 50px;
      margin: 10px auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .acardionstf .acardion.contBx {
      position: relative;
      transition: all .5s ease-in;
    }
    
    .acardionstf .acardion .labels h5 {
      font-size: 15px;
      margin: 0;
      padding: 3px 0 0 0;
      font-weight: normal;
      color: #1f5c9a
    }
    
    .acardionstf .acardion .labels .contBx-icon {
      background-image: url("./media/plus.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* border: 1px solid #1f5c9a; */
      background-color: #009688;
      color: #000;
      border-radius: 50%;
      padding: 8px 7px;
    
    }
    .acardionstf .acardion .contBx.active .labels .contBx-icon {
      background-image: url("./media/minus.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* border: 1px solid #0b81e9; */
      background-color: rgb(12, 139, 217);
      border-radius: 50%;
     padding: 8px -25px;
    
    }
    .acardionstf .panel ul li{
    font-size: 15px;
    }
    .acardionstf .panel {
    font-size: 20px;
      padding: 0 15px;
      border-left: 2px solid #6db5ff;
      margin-left: 20px;
      font-size: 14px;
      text-align: justify;
      overflow: hidden;
      max-height: 0;
      transition: all .5s ease-in;
      top: 0;
    }
    
    .acardionstf .acardion .contBx.active .panel {
      max-height:100%;
      transition: all .5s ease;
    }